@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .dark-invert {
    --tw-invert: invert(100%);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
      var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert)
      var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  }

  .content-area {
    @apply flex min-h-screen my-16 bg-white items-center justify-between rounded-md;
  }
  .appbar {
    @apply flex dark:bg-gray-dark dark:text-white text-black border-b-white border-b h-14 py-1;
  }

  .appbar-profile {
    @apply flex-none px-1 m-auto;
  }

  .appbar-title {
    @apply flex-auto p-1 m-auto;
  }

  .appbar-title h1 {
    @apply text-black dark:text-white;
  }

  .appbar-ico {
    @apply flex-none px-2 m-auto;
  }

  .imgDark {
    display: none;
  }

  @media (prefers-color-scheme: dark) {
    .imgLight {
      display: none;
    }
    .imgDark {
      display: unset;
    }
  }
}
