@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@/styles/utilities/common.css';
@import '@/styles/components/layout.css';
@import '@/styles/components/card.css';

@layer base {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 13, 13, 13;
    --color-primary: rgb(38 38 38);
    --color-secondary: rgb(166 166 166);
    padding: 24px;
    max-width: 100vw;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}
